@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Georgia', sans-serif;
    font-size: large;
}

body{
    font-family: 'Roboto', sans-serif;
    background-image: url('https://images.unsplash.com/photo-1553095066-5014bc7b7f2d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8d2FsbCUyMGJhY2tncm91bmR8ZW58MHx8MHx8&w=1000&q=80');
     background-size: cover;
}
.search-bar{
    width: 100%;
    padding: 8px;
    background: none;
    color: aliceblue;
    
}
.rounded-circle{
    border: 10px solid wheat;
    
}
.card-body{
    border: 10px solid white;
    margin-top: 4%;
    border-radius: 8px;
}
.current-page{
    margin-top: 10%;
    padding: 15px;
    
}
.pagination{
   margin: 0 auto;
   color: rgb(196, 155, 43);
   justify-content: center;
   padding: 8px;
   width: 30%;
   
}
.pagination_link{
    color: white;
    padding: 8px 24px;
    border-radius: 5px;
    
}
.pagination_link:hover{
    color: white;
    background: rgb(42, 40, 40);
}
.home-hero{
    margin-top: 5% auto;
}

.p-2{
    float: right;
}
.icon{
    font-size: 2rem;
    margin: 5px;
}
.modal{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;

}
button{
    padding: 8px 16px;
}
.btns{
    float: right;
}

form{
    border: 1px solid white;
    margin-top: 10%;
}
input{
    width: 100%;
    padding: 8px;
}
.row{
    margin-top: 5%;
    
}
.col{
    grid-template-columns: repeat(2, 1fr); 
}
